# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
.env/

# Hugging Face & Torch model cache
.cache/
*.safetensors
*.bin

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/
build/
dist/
